<div class="container d-flex justify-content-center aling-items-center my-5">
    <div class="card p-4 shadow-sm" style="width:25 rem;">
        <h3 class="text-center mb-4">Iniciar Sesion</h3>
        <form #f="ngForm" (ngSubmit)="f.form.valid && login(f)">
            <!--campo de email-->
            <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="email"
                ngModel required>

            </div>
            <!--campo de password-->
            <div class="mb-3">
                <input type="password" class="form-control" id="pasword" name ="password"
                placeholder="password" ngModel required/>

            </div>
            <!--boton de login -->
            <button type="submit" class="btn btn-primary w-100">iniciar sesion</button>

        </form>

    </div>

</div>
